/*Everything Between the Navigation Bar and the Footer (TBA)*/

.container-body{
    width: 100%;
    margin-top: 5em;
    top: 5em;
    height: auto;
}

/*#canvas{
    background-color: #2c343f;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0em auto;
    top: 0em;
    left: 0em;
}*/

.container-container{
    /*top: 5em;*/
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0em auto;
    /*margin-top: 5em;*/
    /*top: 5em;*/
    background-color: white;
    z-index: 2;
    border: 1px soild;
}

/*NOTIFICATIONS -----------------------------------------------------------------*/

.notifs {
    width: 20em;
    /*height: 5em;*/
    height: auto;
    border-radius: 10px;
    font-weight: 300;
    background-color: gray;
    position: fixed;
    bottom: 1em;
    left: 3em;
    color: white;
    text-align: center;
    padding: 15px;
    overflow: auto;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}

.notifs-message {
  font-size: 16px;
}

.notifs-label {
  
}
