!!!
%html
  %head
    %title Chat
    = stylesheet_link_tag 'application'
  %body
    .container
      .row
        .col-md-9
          .panel.panel-default
            .panel-heading
              %h3 General Chat
            .panel-body
              #messages
            #footer.panel-footer
              .input-group
                %span.input-group-btn{style: 'width: 200px'}
                  %input{:type => 'text', :class => 'form-control', :placeholder => @current_user.first_name, :id => 'author-field', :value => @current_user.first_name, :disabled => true}
                %input{:type => 'text', :class => 'form-control', :placeholder => 'message', :id => 'message-field'}
                %span.input-group-btn
                  %button{:type => 'button', :class => 'btn btn-info', :id => 'send-button'} Send
    #timetoken.hidden 0
