<div style="overflow: auto">
	<header class="header-title" style="float:left;">General Quests</header>
	<!-- <a href="#" class="circular-button" style="float: right">+</a> -->
	<%= link_to "+", new_quest_path, class: "circular-button", style: "float: right; color: white;" %>
</div>
<br>
<div>
	<table style="width:80%;border-collapse: separate;border-spacing: 0em 1em;margin-left: 4em;">
		<% @quests.each do |quest| %>
			<tr style="padding-bottom: 1em">
				<!-- <td><font class="label" style="width:20%;">Title: </font></td> -->
				<!-- <td><p class="label" style="margin-bottom: 0.5em;"><%= quest.title %></p></td> -->	
				<td><%= link_to "#{quest.title}", quest_path(quest.id), class: "label", style: "margin-bottom: 0.5em;" %></td>
			</tr>
		<% end %>
	</table>
</div>
